# Análisis de Base de Datos Meteorológica

Este notebook examina la estructura y contenido de la base de datos `meteorology_data.db`.

In [1]:
import sqlite3
import pandas as pd
import os

# Ruta a la base de datos
db_path = 'data/meteorology_data.db'

# Conexión a la base de datos
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print(f"Conectado a: {db_path}")

Conectado a: data/meteorology_data.db

In [2]:
# Obtener lista de tablas
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

print("Tablas en la base de datos:")
for table in tables:
    print(f"- {table[0]}")

Tablas en la base de datos:
- Magnitude
- data_source
- MaxValue
- MinValue
- MeanValue
- maxvalue_mapping
- minvalue_mapping
- meanvalue_mapping

In [3]:
# Examinar estructura de las tablas principales
print("=== ESQUEMA DE TABLAS ===\n")

for table in tables:
    table_name = table[0]
    print(f"Tabla: {table_name}")
    schema = cursor.execute(f"PRAGMA table_info({table_name});").fetchall()
    for col in schema:
        print(f"  {col[1]} ({col[2]})")
    print()

=== ESQUEMA DE TABLAS ===

Tabla: Magnitude
  Id (INTEGER)
  Name (VARCHAR(200))
  Unit (VARCHAR(50))
  Short (VARCHAR(50))
  GaugeExp (VARCHAR(500))

Tabla: data_source
  id (INTEGER)
  name (VARCHAR(200))
  description (VARCHAR(500))

Tabla: MaxValue
  Id (VARCHAR(36))
  Value (FLOAT)
  CurrentTime (DATETIME)
  MagnitudeId (INTEGER)

Tabla: MinValue
  Id (VARCHAR(36))
  Value (FLOAT)
  CurrentTime (DATETIME)
  MagnitudeId (INTEGER)

Tabla: MeanValue
  Id (VARCHAR(36))
  Value (FLOAT)
  StartTime (DATETIME)
  EndTime (DATETIME)
  MagnitudeId (INTEGER)

Tabla: maxvalue_mapping
  id (VARCHAR(36))
  source_num (INTEGER)
  original_id (INTEGER)
  target_id (VARCHAR(36))

Tabla: minvalue_mapping
  id (VARCHAR(36))
  source_num (INTEGER)
  original_id (INTEGER)
  target_id (VARCHAR(36))

Tabla: meanvalue_mapping
  id (VARCHAR(36))
  source_num (INTEGER)
  original_id (INTEGER)
  target_id (VARCHAR(36))

In [4]:
# Contenido de tabla Magnitude
print("=== CONTENIDO TABLA MAGNITUDE ===")
magnitude_df = pd.read_sql_query("SELECT * FROM Magnitude", conn)
print(f"Total magnitudes: {len(magnitude_df)}")
print(magnitude_df.to_string(index=False))

=== CONTENIDO TABLA MAGNITUDE ===
Total magnitudes: 16
 Id                                   Name Unit Short GaugeExp
  1                   Velocidad del Viento  m/s    ff     None
  2                   Dirección del Viento    °    dd     None
  3                   Temperatura del Aire   °C     T     None
  4              Humedad Relativa del Aire    %    HR     None
  5                    Presión Atmosférica  hPa     P     None
  6                 Radiación Solar Global W/m²     S     None
  7                Precipitación Acumulada   mm     R     None
  8          Temperatura de Punto de Rocío   °C    Td     None
  9        Presión al nivel de la Estación  hPa    P0     None
 10         Presión al nivel medio del Mar  hPa    P1     None
 11               Presión de Vapor de Agua  hPa     e     None
 12 Presión de Saturación de Vapor de Agua  hPa    es     None
 13            Temperatura de Enfriamiento   °C    WC     None
 14                        Índice de Calor   °C    IC     None
 15                Temperatura Perceptible   °C    Tp     None
 16                  Voltaje de la batería    V   Bat     None

In [5]:
# Contenido de tabla data_source
print("=== CONTENIDO TABLA DATA_SOURCE ===")
source_df = pd.read_sql_query("SELECT * FROM data_source", conn)
print(f"Total fuentes: {len(source_df)}")
print(source_df.to_string(index=False))

=== CONTENIDO TABLA DATA_SOURCE ===
Total fuentes: 5
 id     name        description
  1 Source 2 Data from source 2
  2 Source 5 Data from source 5
  3 Source 1 Data from source 1
  4 Source 3 Data from source 3
  5 Source 4 Data from source 4

In [6]:
# Conteo de registros en tablas de valores
print("=== CONTEO DE REGISTROS ===")

tables_to_count = ['MeanValue', 'MaxValue', 'MinValue']

for table in tables_to_count:
    count = cursor.execute(f"SELECT COUNT(*) FROM {table}").fetchone()[0]
    print(f"{table}: {count:,} registros")

=== CONTEO DE REGISTROS ===
MeanValue: 8,766,005 registros
MaxValue: 12,616,702 registros
MinValue: 6,256,561 registros

In [7]:
# Muestra de datos de valores promedio
print("=== MUESTRA DE VALORES PROMEDIO ===")
mean_sample = pd.read_sql_query("""
    SELECT mv.*, m.Name as MagnitudeName, m.Unit
    FROM MeanValue mv
    JOIN Magnitude m ON mv.MagnitudeId = m.Id
    LIMIT 30
""", conn)

print(mean_sample.to_string(index=False))

=== MUESTRA DE VALORES PROMEDIO ===
                                  Id  Value                  StartTime                    EndTime  MagnitudeId             MagnitudeName Unit
9f591d8e-60f6-41f4-b619-fd047d555267    3.7 2022-01-01 00:08:00.000000 2022-01-01 00:09:00.000000            1      Velocidad del Viento  m/s
086e5fe2-b565-45c5-a4c3-cde180feaa9a  161.0 2022-01-01 00:08:00.000000 2022-01-01 00:09:00.000000            2      Dirección del Viento    °
8904b7d1-6207-405d-8bc5-6161557c393f   24.1 2022-01-01 00:08:00.000000 2022-01-01 00:09:00.000000            3      Temperatura del Aire   °C
b541b4c7-1873-4821-8e1b-28d0435b9868   89.5 2022-01-01 00:08:00.000000 2022-01-01 00:09:00.000000            4 Humedad Relativa del Aire    %
b799647d-bfb4-4ab0-9b81-67d1ec382da3 1017.2 2022-01-01 00:08:00.000000 2022-01-01 00:09:00.000000            5       Presión Atmosférica  hPa
b282ac85-4707-49c5-93a1-6902e72dfc90   -1.6 2022-01-01 00:08:00.000000 2022-01-01 00:09:00.000000            6    Radiación Solar Global W/m²
289b4c23-11ea-4056-ac0b-ac7ea4281d4e    0.0 2022-01-01 00:08:00.000000 2022-01-01 00:09:00.000000            7   Precipitación Acumulada   mm
e6f8c7df-84c4-4b5b-b09e-024909626ecb    3.6 2022-01-01 00:09:00.000000 2022-01-01 00:10:00.000000            1      Velocidad del Viento  m/s
99c7f910-92df-4c08-91c6-1dd166fc4370  163.0 2022-01-01 00:09:00.000000 2022-01-01 00:10:00.000000            2      Dirección del Viento    °
beef80ce-f86e-43b5-9d26-394ee2b671d5   24.0 2022-01-01 00:09:00.000000 2022-01-01 00:10:00.000000            3      Temperatura del Aire   °C
af414e7f-5f55-4b1d-b1cb-5d43c4c73be2   89.6 2022-01-01 00:09:00.000000 2022-01-01 00:10:00.000000            4 Humedad Relativa del Aire    %
b4506a26-5bc6-4aff-9d03-a67d605521ad 1017.2 2022-01-01 00:09:00.000000 2022-01-01 00:10:00.000000            5       Presión Atmosférica  hPa
0dab5c80-3f4c-4b6f-9176-de309a86e5ff   -1.7 2022-01-01 00:09:00.000000 2022-01-01 00:10:00.000000            6    Radiación Solar Global W/m²
2069dd29-834a-4e09-b316-108dc6c800ca    0.0 2022-01-01 00:09:00.000000 2022-01-01 00:10:00.000000            7   Precipitación Acumulada   mm
82882e27-507e-4bcd-98d2-30c84b1f6d2f    4.4 2022-01-01 00:18:00.000000 2022-01-01 00:19:00.000000            1      Velocidad del Viento  m/s
3487030f-a237-446c-94bf-d6723f9129e7  148.0 2022-01-01 00:18:00.000000 2022-01-01 00:19:00.000000            2      Dirección del Viento    °
82f12fc2-2d7d-40cb-8b80-29dddfb6df60   23.9 2022-01-01 00:18:00.000000 2022-01-01 00:19:00.000000            3      Temperatura del Aire   °C
520d3573-4579-401b-acca-c211241e10c0   90.0 2022-01-01 00:18:00.000000 2022-01-01 00:19:00.000000            4 Humedad Relativa del Aire    %
97054773-1d3e-4f14-a382-7a2eae584701 1017.1 2022-01-01 00:18:00.000000 2022-01-01 00:19:00.000000            5       Presión Atmosférica  hPa
bf44f9f6-9c80-4e22-b0e9-0ea58a788274   -2.2 2022-01-01 00:18:00.000000 2022-01-01 00:19:00.000000            6    Radiación Solar Global W/m²
df3da6de-9637-4a24-bb8e-9462576e9689    0.0 2022-01-01 00:18:00.000000 2022-01-01 00:19:00.000000            7   Precipitación Acumulada   mm
05be6e78-46a3-4c08-ab63-78ac9bee7e97    4.7 2022-01-01 00:19:00.000000 2022-01-01 00:20:00.000000            1      Velocidad del Viento  m/s
85dd011c-0620-4e88-adc8-2c3809b67302  146.0 2022-01-01 00:19:00.000000 2022-01-01 00:20:00.000000            2      Dirección del Viento    °
cd518c4f-d08b-41ed-b97f-5a4e1e45aab6   24.0 2022-01-01 00:19:00.000000 2022-01-01 00:20:00.000000            3      Temperatura del Aire   °C
854a4c5e-91f6-451d-aff0-d11935f3815c   90.0 2022-01-01 00:19:00.000000 2022-01-01 00:20:00.000000            4 Humedad Relativa del Aire    %
11bcec35-ad9f-49ff-ae6e-b4696091bfee 1017.1 2022-01-01 00:19:00.000000 2022-01-01 00:20:00.000000            5       Presión Atmosférica  hPa
23ff1b11-6609-4972-8109-09ff009f4752   -2.3 2022-01-01 00:19:00.000000 2022-01-01 00:20:00.000000            6    Radiación Solar Global W/m²
5e294ead-fb2f-4283-8641-f105225e3294    0.0 2022-01-01 00:19:00.000000 2022-01-01 00:20:00.000000            7   Precipitación Acumulada   mm
60b35c6c-1de9-4cc5-baac-d075b0ba2c4a    5.2 2022-01-01 00:28:00.000000 2022-01-01 00:29:00.000000            1      Velocidad del Viento  m/s
907bbbd8-c856-4c47-8b92-c3d65b7aace0  139.0 2022-01-01 00:28:00.000000 2022-01-01 00:29:00.000000            2      Dirección del Viento    °

In [8]:
# Rango de fechas en los datos
print("=== RANGO DE FECHAS ===")

# Para MeanValue
date_range_mean = cursor.execute("""
    SELECT 
        MIN(StartTime) as min_start,
        MAX(EndTime) as max_end
    FROM MeanValue
""").fetchone()

print(f"MeanValue - Desde: {date_range_mean[0]} Hasta: {date_range_mean[1]}")

# Para MaxValue
date_range_max = cursor.execute("""
    SELECT 
        MIN(CurrentTime) as min_time,
        MAX(CurrentTime) as max_time
    FROM MaxValue
""").fetchone()

print(f"MaxValue - Desde: {date_range_max[0]} Hasta: {date_range_max[1]}")

=== RANGO DE FECHAS ===
MeanValue - Desde: 2022-01-01 00:08:00.000000 Hasta: 2025-11-01 09:29:00.000000
MaxValue - Desde: 2022-01-01 00:08:05.000000 Hasta: 2025-10-31 09:19:03.000000

In [10]:
# Crear tabla pivote: días como filas, magnitudes como columnas
print("=== CREANDO TABLA DIARIA DE MAGNITUDES ===")

# Primero obtener los datos básicos por día
daily_data = pd.read_sql_query("""
    SELECT 
        DATE(StartTime) as date,
        MagnitudeId,
        AVG(Value) as daily_mean,
        COUNT(*) as count_values
    FROM MeanValue
    WHERE MagnitudeId IN (1,2,3,4,5,6,7)
    GROUP BY DATE(StartTime), MagnitudeId
    ORDER BY date, MagnitudeId
""", conn)

print(f"Total registros diarios: {len(daily_data)}")
print("Primeros registros:")
print(daily_data.head(10))

=== CREANDO TABLA DIARIA DE MAGNITUDES ===
Total registros diarios: 9786
Primeros registros:
         date  MagnitudeId   daily_mean  count_values
0  2022-01-01            1     5.263542           288
1  2022-01-01            2   118.638889           288
2  2022-01-01            3    25.143056           288
3  2022-01-01            4    82.927778           288
4  2022-01-01            5  1016.496875           288
5  2022-01-01            6   195.332986           288
6  2022-01-01            7     0.000000           288
7  2022-01-02            1     4.513265           294
8  2022-01-02            2   134.418367           294
9  2022-01-02            3    24.760204           294

In [11]:
# Calcular medianas usando Python (más eficiente)
print("=== CALCULANDO MEDIANAS ===")

# Obtener todos los datos para calcular medianas en Python
all_daily_values = pd.read_sql_query("""
    SELECT 
        DATE(StartTime) as date,
        MagnitudeId,
        Value
    FROM MeanValue
    WHERE MagnitudeId IN (1,2,3,4,5,6,7)
    ORDER BY date, MagnitudeId, Value
""", conn)

# Calcular medianas por día y magnitud
daily_medians = all_daily_values.groupby(['date', 'MagnitudeId'])['Value'].median().reset_index()
daily_medians.columns = ['date', 'MagnitudeId', 'daily_median']

# Combinar con las medias
daily_data = daily_data.merge(daily_medians, on=['date', 'MagnitudeId'], how='left')

print("Datos combinados con medianas:")
print(daily_data.head(10))

=== CALCULANDO MEDIANAS ===
Datos combinados con medianas:
         date  MagnitudeId   daily_mean  count_values  daily_median
0  2022-01-01            1     5.263542           288          5.20
1  2022-01-01            2   118.638889           288        127.00
2  2022-01-01            3    25.143056           288         24.80
3  2022-01-01            4    82.927778           288         85.40
4  2022-01-01            5  1016.496875           288       1016.55
5  2022-01-01            6   195.332986           288         -2.05
6  2022-01-01            7     0.000000           288          0.00
7  2022-01-02            1     4.513265           294          4.10
8  2022-01-02            2   134.418367           294        134.00
9  2022-01-02            3    24.760204           294         24.40

In [12]:
# Crear tabla pivote final: días como filas, magnitudes como columnas (mean y median)
print("=== CREANDO TABLA PIVOTE FINAL ===")

# Obtener nombres de magnitudes para columnas
magnitudes = pd.read_sql_query("""
    SELECT Id, Name, Short 
    FROM Magnitude 
    WHERE Id IN (1,2,3,4,5,6,7)
    ORDER BY Id
""", conn)

print("Magnitudes disponibles:")
print(magnitudes.to_string(index=False))

# Crear tabla pivote para medias
pivot_mean = daily_data.pivot(
    index='date', 
    columns='MagnitudeId', 
    values='daily_mean'
)

# Crear tabla pivote para medianas
pivot_median = daily_data.pivot(
    index='date', 
    columns='MagnitudeId', 
    values='daily_median'
)

# Renombrar columnas con nombres descriptivos
column_names = {}
for _, row in magnitudes.iterrows():
    column_names[row['Id']] = f"{row['Short']}_{row['Name']}"

pivot_mean.columns = [f"{column_names.get(col, f'Mag_{col}')}_mean" for col in pivot_mean.columns]
pivot_median.columns = [f"{column_names.get(col, f'Mag_{col}')}_median" for col in pivot_median.columns]

# Combinar ambas tablas
pivot_final = pd.concat([pivot_mean, pivot_median], axis=1)

# Ordenar columnas: primero todas las medias, luego todas las medianas
mean_cols = [col for col in pivot_final.columns if col.endswith('_mean')]
median_cols = [col for col in pivot_final.columns if col.endswith('_median')]
pivot_final = pivot_final[mean_cols + median_cols]

print(f"\nTabla final: {pivot_final.shape[0]} días × {pivot_final.shape[1]} columnas")
print(f"Columnas: {len(mean_cols)} medias + {len(median_cols)} medianas")
print("\nPrimeras 5 filas:")
print(pivot_final.head())

=== CREANDO TABLA PIVOTE FINAL ===
Magnitudes disponibles:
 Id                      Name Short
  1      Velocidad del Viento    ff
  2      Dirección del Viento    dd
  3      Temperatura del Aire     T
  4 Humedad Relativa del Aire    HR
  5       Presión Atmosférica     P
  6    Radiación Solar Global     S
  7   Precipitación Acumulada     R

Tabla final: 1398 días × 14 columnas
Columnas: 7 medias + 7 medianas

Primeras 5 filas:
            ff_Velocidad del Viento_mean  dd_Dirección del Viento_mean  \
date
2022-01-01                      5.263542                    118.638889
2022-01-02                      4.513265                    134.418367
2022-01-03                      3.056678                    245.097720
2022-01-04                      3.287500                    270.145833
2022-01-05                      1.943403                    196.013889

            T_Temperatura del Aire_mean  HR_Humedad Relativa del Aire_mean  \
date
2022-01-01                    25.143056                          82.927778
2022-01-02                    24.760204                          80.303401
2022-01-03                    24.772313                          79.247883
2022-01-04                    23.125694                          75.162500
2022-01-05                    24.290625                          77.501042

            P_Presión Atmosférica_mean  S_Radiación Solar Global_mean  \
date
2022-01-01                 1016.496875                     195.332986
2022-01-02                 1016.482313                     192.057483
2022-01-03                 1017.920521                     202.043974
2022-01-04                 1018.098958                     131.648611
2022-01-05                 1014.957986                     139.877083

            R_Precipitación Acumulada_mean  ff_Velocidad del Viento_median  \
date
2022-01-01                             0.0                             5.2
2022-01-02                             0.0                             4.1
2022-01-03                             0.0                             2.8
2022-01-04                             0.0                             3.2
2022-01-05                             0.0                             1.9

            dd_Dirección del Viento_median  T_Temperatura del Aire_median  \
date
2022-01-01                           127.0                           24.8
2022-01-02                           134.0                           24.4
2022-01-03                           247.0                           23.9
2022-01-04                           331.0                           23.0
2022-01-05                           293.5                           24.5

            HR_Humedad Relativa del Aire_median  P_Presión Atmosférica_median  \
date
2022-01-01                                 85.4                       1016.55
2022-01-02                                 81.5                       1016.35
2022-01-03                                 81.7                       1018.00
2022-01-04                                 75.7                       1017.90
2022-01-05                                 78.1                       1015.10

            S_Radiación Solar Global_median  R_Precipitación Acumulada_median
date
2022-01-01                            -2.05                               0.0
2022-01-02                            -2.10                               0.0
2022-01-03                            -0.40                               0.0
2022-01-04                            -0.60                               0.0
2022-01-05                            -0.65                               0.0

In [ ]:
pivot_final.to_csv('data/daily_meteorological_data.csv')

In [14]:
# Crear tabla pivote por hora: horas como filas, magnitudes como columnas
print("=== CREANDO TABLA HORARIA DE MAGNITUDES ===")

# Obtener datos por hora
hourly_data = pd.read_sql_query("""
    SELECT 
        strftime('%Y-%m-%d %H:00:00', StartTime) as hour_timestamp,
        DATE(StartTime) as date,
        strftime('%H', StartTime) as hour,
        MagnitudeId,
        AVG(Value) as hourly_mean,
        COUNT(*) as count_values
    FROM MeanValue
    WHERE MagnitudeId IN (1,2,3,4,5,6,7)
    GROUP BY strftime('%Y-%m-%d %H:00:00', StartTime), MagnitudeId
    ORDER BY hour_timestamp, MagnitudeId
""", conn)

print(f"Total registros horarios: {len(hourly_data)}")
print("Primeros registros:")
print(hourly_data.head(10))

=== CREANDO TABLA HORARIA DE MAGNITUDES ===
Total registros horarios: 233065
Primeros registros:
        hour_timestamp        date hour  MagnitudeId  hourly_mean  \
0  2022-01-01 00:00:00  2022-01-01   00            1     4.891667
1  2022-01-01 00:00:00  2022-01-01   00            2   142.500000
2  2022-01-01 00:00:00  2022-01-01   00            3    24.016667
3  2022-01-01 00:00:00  2022-01-01   00            4    89.750000
4  2022-01-01 00:00:00  2022-01-01   00            5  1017.033333
5  2022-01-01 00:00:00  2022-01-01   00            6    -2.133333
6  2022-01-01 00:00:00  2022-01-01   00            7     0.000000
7  2022-01-01 01:00:00  2022-01-01   01            1     5.091667
8  2022-01-01 01:00:00  2022-01-01   01            2   129.083333
9  2022-01-01 01:00:00  2022-01-01   01            3    24.033333

   count_values
0            12
1            12
2            12
3            12
4            12
5            12
6            12
7            12
8            12
9            12

In [ ]:
# Calcular medianas horarias usando Python
print("=== CALCULANDO MEDIANAS HORARIAS ===")

# Obtener todos los datos para calcular medianas horarias
all_hourly_values = pd.read_sql_query("""
    SELECT 
        strftime('%Y-%m-%d %H:00:00', StartTime) as hour_timestamp,
        MagnitudeId,
        Value
    FROM MeanValue
    WHERE MagnitudeId IN (1,2,3,4,5,6,7)
    ORDER BY hour_timestamp, MagnitudeId, Value
""", conn)

# Calcular medianas por hora y magnitud
hourly_medians = all_hourly_values.groupby(['hour_timestamp', 'MagnitudeId'])['Value'].median().reset_index()
hourly_medians.columns = ['hour_timestamp', 'MagnitudeId', 'hourly_median']

# Combinar con las medias horarias
hourly_data = hourly_data.merge(hourly_medians, on=['hour_timestamp', 'MagnitudeId'], how='left')

print("Datos horarios combinados con medianas:")
hourly_data.head(10)

=== CALCULANDO MEDIANAS HORARIAS ===
Datos horarios combinados con medianas:
        hour_timestamp        date hour  MagnitudeId  hourly_mean  \
0  2022-01-01 00:00:00  2022-01-01   00            1     4.891667
1  2022-01-01 00:00:00  2022-01-01   00            2   142.500000
2  2022-01-01 00:00:00  2022-01-01   00            3    24.016667
3  2022-01-01 00:00:00  2022-01-01   00            4    89.750000
4  2022-01-01 00:00:00  2022-01-01   00            5  1017.033333
5  2022-01-01 00:00:00  2022-01-01   00            6    -2.133333
6  2022-01-01 00:00:00  2022-01-01   00            7     0.000000
7  2022-01-01 01:00:00  2022-01-01   01            1     5.091667
8  2022-01-01 01:00:00  2022-01-01   01            2   129.083333
9  2022-01-01 01:00:00  2022-01-01   01            3    24.033333

   count_values  hourly_median
0            12            4.9
1            12          139.0
2            12           24.0
3            12           89.7
4            12         1017.0
5            12           -2.2
6            12            0.0
7            12            5.2
8            12          126.5
9            12           24.0

In [16]:
# Crear tabla pivote horaria final
print("=== CREANDO TABLA PIVOTE HORARIA FINAL ===")

# Crear tabla pivote para medias horarias
pivot_hourly_mean = hourly_data.pivot(
    index='hour_timestamp', 
    columns='MagnitudeId', 
    values='hourly_mean'
)

# Crear tabla pivote para medianas horarias
pivot_hourly_median = hourly_data.pivot(
    index='hour_timestamp', 
    columns='MagnitudeId', 
    values='hourly_median'
)

# Renombrar columnas con nombres descriptivos
pivot_hourly_mean.columns = [f"{column_names.get(col, f'Mag_{col}')}_hourly_mean" for col in pivot_hourly_mean.columns]
pivot_hourly_median.columns = [f"{column_names.get(col, f'Mag_{col}')}_hourly_median" for col in pivot_hourly_median.columns]

# Combinar ambas tablas horarias
pivot_hourly_final = pd.concat([pivot_hourly_mean, pivot_hourly_median], axis=1)

# Ordenar columnas: primero todas las medias horarias, luego todas las medianas horarias
hourly_mean_cols = [col for col in pivot_hourly_final.columns if col.endswith('_hourly_mean')]
hourly_median_cols = [col for col in pivot_hourly_final.columns if col.endswith('_hourly_median')]
pivot_hourly_final = pivot_hourly_final[hourly_mean_cols + hourly_median_cols]

print(f"Tabla horaria final: {pivot_hourly_final.shape[0]} horas × {pivot_hourly_final.shape[1]} columnas")
print(f"Columnas: {len(hourly_mean_cols)} medias horarias + {len(hourly_median_cols)} medianas horarias")
print("\nPrimeras 5 filas:")
pivot_hourly_final.head()

=== CREANDO TABLA PIVOTE HORARIA FINAL ===
Tabla horaria final: 33295 horas × 14 columnas
Columnas: 7 medias horarias + 7 medianas horarias

Primeras 5 filas:

,ff_Velocidad del Viento_hourly_mean,dd_Dirección del Viento_hourly_mean,T_Temperatura del Aire_hourly_mean,HR_Humedad Relativa del Aire_hourly_mean,P_Presión Atmosférica_hourly_mean,S_Radiación Solar Global_hourly_mean,R_Precipitación Acumulada_hourly_mean,ff_Velocidad del Viento_hourly_median,dd_Dirección del Viento_hourly_median,T_Temperatura del Aire_hourly_median,HR_Humedad Relativa del Aire_hourly_median,P_Presión Atmosférica_hourly_median,S_Radiación Solar Global_hourly_median,R_Precipitación Acumulada_hourly_median
hour_timestamp,,,,,,,,,,,,,,
2022-01-01 00:00:00,4.891667,142.500000,24.016667,89.750000,1017.033333,-2.133333,0.0,4.90,139.0,24.00,89.70,1017.0,-2.20,0.0
2022-01-01 01:00:00,5.091667,129.083333,24.033333,90.291667,1016.783333,-2.216667,0.0,5.20,126.5,24.00,90.20,1016.8,-2.20,0.0
2022-01-01 02:00:00,5.191667,133.166667,23.658333,91.041667,1016.541667,-2.258333,0.0,5.25,133.0,23.65,91.05,1016.5,-2.30,0.0
2022-01-01 03:00:00,4.808333,143.250000,23.175000,91.875000,1016.433333,-2.250000,0.0,4.80,144.5,23.15,91.90,1016.4,-2.25,0.0
2022-01-01 04:00:00,5.191667,136.083333,23.125000,92.616667,1016.325000,-2.275000,0.0,5.30,133.5,23.10,92.70,1016.3,-2.30,0.0

In [ ]:
# Guardar datos horarios
pivot_hourly_final.to_csv('data/ATC csvs/hourly_meteorological_data.csv')
print("Datos horarios guardados en 'data/ATC csvs/hourly_meteorological_data.csv'")

In [20]:
# Cerrar conexión
conn.close()
print("Conexión cerrada.")

Conexión cerrada.